.venv
checkpoints/
data/raw_datasets/raw_hotpotQA/*
data/processed_datasets/
slurm_logs/
wandb/
train_outputs
.env
data/raw_datasets/self_gen/
__pycache__/
.claude/
test.py
data/raw_datasets/golden_rag_compact/
data/raw_datasets/hotpotQA_gold_compact/
data/raw_datasets/**/*.parquet
**/*.jsonl